<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="header">
        <div class="header-nav">
          <div class="title header-name">Daniel</div>
          <div class="title job">,Fullstack developer</div>
        </div>
        <ul class="title header-guide">
          <li>Present</li>
          <li>Skills</li>
          <li>Contact</li>
        </ul>
      </nav>
      <section class="grid">
        <div class="intro">
          <div class="intro-container">
            <div class="intro-myName">Hi, I'm Daniel.</div>
            <div class="intro-under">Fullstack Developer</div>
          </div>
          <div class="intro-para">Passionate to improve my skills.</div>
          <div class="intro-para2">
            I enjoy learning new technologies on my free time and builing
            projects to showcase my skills.
          </div>
          <div class="intro-background"></div>
        </div>

        <div class="intro-me"></div>
      </section>
      <div class="education">Education</div>
      <section class="grid">
        <div class="education-school">
          <div class="education-text">
            <div class="edu education-school-text">Queens College</div>
            <div class="edu education-school-adress">New york</div>
          </div>
          <div class="education-school-degree">B.A in Computer Science</div>
          <ul class="education-school-list">
            <li>Object Orientated Programming C++</li>
            <li>Object Orientated Programming Java</li>
          </ul>
          <div class="education-school-grad">Sep.2022 - May.2025</div>
          <div class="education-school-background"></div>
        </div>
        <div class="education-yearUp">
          <div class="education-yearUp-background"></div>
        </div>
        <div class="education-codepath">
          <div class="education-codepath-background"></div>
        </div>
        <div class="education-background"></div>
      </section>
      <div class="space stars1"></div>
      <div class="space stars2"></div>
      <div class="space stars3"></div>
    </div>
  </body>
</html>
